{% extends "base.html" %} {% load static %} {% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->


    {% if not cart_items %}
        <h2 class="text-center">El carrito de cursos esta vasio</h2>
        <br>
        <div class="text-center">
            <a href="{% url 'Cursos' %}" class="btn btn-primary">Escoge un curso </a></div>
    {% else %}
    <div class="row">
      <aside class="col-lg-9">
        <div class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Curso a asignar</th>
                <th scope="col" width="120">Cantidad</th>
                <th scope="col" width="120">Valor del Curso</th>
                <th scope="col" class="text-right" width="200"></th>
              </tr>
            </thead>
            <tbody>
              {%for cart_item in cart_items %}
              <tr>
                <td>
                  <figure class="itemside align-items-center">
                    <div class="aside">
                      <img
                        src="{{cart_item.curso.cat_image.url}}"
                        class="img-sm"
                      />
                    </div>
                    <figcaption class="info">
                      <a href="{{cart_item.curso.get_url}}" class="title text-dark"
                        >{{cart_item.curso.nombre}}</a
                      >
                      
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <!-- col.// -->
                  <div class="col">
                    <div class="input-group input-spinner">
                      <input
                        type="text"
                        class="form-control"
                        value="{{prueba}}"
                      />
                    </div>
                    <!-- input-group.// -->
                  </div>
                  <!-- col.// -->
                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price">${{cart_item.sub_total}}</var>
                    <small class="text-muted">
                      ${{cart_item.curso.costo}}
                    </small>
                  </div>
                  <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a
                    href="{% url 'remove_cart_item' cart_item.curso.id %}"
                    class="btn btn-danger"
                  >
                    Eliminar</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <!--<dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">$1500</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right"> $10.00</dd>
                </dl>-->
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b">
                <strong>${{total}}</strong>
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="{% static './images/misc/payments.png'%}" height="26" />
            </p>
            <a href="{%url 'checkout'%}" class="btn btn-primary btn-block">
              Asignarse Cursos
            </a>
            <a href="{% url 'Cursos'%}" class="btn btn-light btn-block"
              >Cursos</a
            >
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    {% endif %}
  </div>
  <!-- container .//  -->
</section>
{% endblock content %}
