<!--Incorpormaos los estilos-->
{%extends 'base.html'%} {% block content %}

<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <a href="#"><img src="{{single_curso.cat_image.url}}" /></a>
            </div>
            <!-- img-big-wrap.// -->
          </article>
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">

<!-- #####FORM ######-->
          {% comment %} <form action="{% url 'add_cart' single_curso.id %}" method="GET"> {% endcomment %}
            
          <article class="content-body">
            <h2 class="title">{{single_curso.nombre}}</h2>

            <div class="mb-3">
              <var class="price h4">$ {{single_curso.costo}}.00</var>
            </div>

            <p>
              {{single_curso.descripcion}}
            </p>

            {% if single_curso.cupo <= 0%}
              <h4>No hay Cupos disponibles</h4>
            {%else%}
                  {%if in_cart %}
                  <a href= "#" class="btn btn-success"><span class="text">Curso Agregado</span><i class="fas fa-check"></i></a>
                  <a href= "{% url 'cart' %}" class="btn btn-outline-primary"><span class="text">Ver cursos agregados</span><i class="fas fa-eye"></i></a>
                  {%else%}
                        {%if user.id is None%}
                        <a  href="{% url 'login' %}"
                            class="btn btn-block btn-secondary"
                            >Agregar Curso 
                        </a>
                        {% else %}
                        <a href= "#" class="btn btn-primary"><span class="text">Agregar Curso</span> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg></a>        {% comment %}{%url 'add_cart' single_curso.id%} {% endcomment %}
                        {% endif %}
                   {% endif %}
            {% endif %}
          </article>
          <!-- product-info-aside .// -->
        </form> <!-- FIN -form .// -->



        </main>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    <br />

    <div class="row">
      <div class="col-md-9">
        <header class="section-heading">
          <h3>Reseña de estudiantes</h3>
        </header>

        <article class="box mb-3">
          <div class="icontext w-100">
            <img
              src="./images/avatars/avatar1.jpg"
              class="img-xs icon rounded-circle"
            />
            <div class="text">
              <span class="date text-muted float-md-right">24.04.2020 </span>
              <h6 class="mb-1">Mike John</h6>
            </div>
          </div>
          <!-- icontext.// -->
          <div class="mt-3">
            <p>
              Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip
            </p>
          </div>
        </article>
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
