<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item" href="{%url 'checkout'%} "> Dashboard </a>
        <a class="list-group-item" href="{%url 'edit_profile'%} "> Ver Perfil </a>
        {% comment %} <a class="list-group-item" href="#"></a> {% endcomment %}
        <a class="list-group-item" href="{%url 'forgotPassword'%}"> Recuperar Contraseña </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{%url 'logout'%}"> <i class="fa fa-power-off"></i> <span class="text">Salir de sesion</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>